$background: #ffbf80;

@import url(https://fonts.googleapis.com/css?family=Lobster);

.header {
  border: none;
  text-align: center;
  margin-top:3%;
}

.secondary {
  margin-top: 10%;
}

.content {
  padding:1em;
}

.controls {
  font-family: sans-serif;
  letter-spacing: 1px;
}

.control-group {
  padding:1%;
  margin-bottom:1%;
  border: thin solid #3D4F5D;
  color:#3D4F5D;
  background-color:$background;
}

.warning {
  color:red;
  font-size:0.5em;
}

.control-tag {
  margin-top:0;
  font-weight:300;
  font-size:0.75em;
  font-family:sans-serif;
}

.control-label {
  margin-top:0;
  font-weight:300;
  font-size:1.25em;
  font-family:sans-serif;
}

#trans{
  background:transparent;
  margin:0 1em;
}

.inline{
  display:inline;
  margin:0 1em;
}

.override {
  background-color:none;
}

h1 {
  font-family: 'Lobster', cursive;

}

body {
  // background-color: $background;
}


