.myCalendar {
  display:inline-block;
  max-width:150px;
}

.leaflet-popup-content p {
font-size: 1.333em;
}

html, body, .full-height {
  height: 100%;
}

#tweetbox {
  overflow: auto;
  height: 28%;
}
