<!DOCTYPE html>
<html>
<head>
   <!-- <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" /> -->
  <link rel="stylesheet" href="styles/main.css" />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" type="text/css" href="styles/main.css">

</head>
<body data-ng-app="CrimeMapApp">
<div id="layout">
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>

    <div id="menu">
        <div class="pure-menu">
            <a class="pure-menu-heading" href="#">SPD-Watch</a>

            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">How To</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">About SPD-Watch</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Account</a></li>
            </ul>
        </div>
    </div>
    <main data-ng-controller="MapController" data-ng-init="getAll()">
    <div id="main">
        <div class="header">
            <h1>Seattle Police Report Map</h1>
            <h2>Neighborhood Watch</h2>
        </div>

        <div class="content">
            <leaflet geojson="crimes" lf-center="seattle" tiles="tiles" defaults="defaults" height="800px" width="100%"></leaflet>

            <div class="pure-menu pure-menu-horizontal">
              <ul class="pure-menu-list">
                <li class="pure-menu-item">
                  <button data-ng-click="clearMap()" class="pure-button">Clear Map</button>
                </li>

                <li class="pure-menu-item">
                  <button data-ng-click="changeTiles('openstreetmap')" class="pure-button">OpenStreetMaps</button>
                </li>

                <li class="pure-menu-item">
                  <button data-ng-click="changeTiles('mapbox_dark')" class="pure-button">MapBox Dark</button>
                </li>

                <li class="pure-menu-item">
                  <button data-ng-click="changeTiles('mapbox_light')" class="pure-button">MapBox Light</button></li>
                </li>

              </ul>
            </div>
            <div
              isteven-multi-select
              input-model="crimeTypes"
              output-model="selectedTypes"
              button-label="icon name"
              item-label="icon name maker"
              tick-property="ticked"
            >
            </div>
            <button type='button' ng-click='mapSelected()' class="pure-button">Map Selected Crimes</button>
            <div class='myCalendar'>
              <datepicker>
                <input ng-model="startDate" type="text" placeholder="Choose a start date"/>
              </datepicker>
              <datepicker>
                <input ng-model="endDate" type="text" placeholder="Choose an end date"/>
              </datepicker>
            </div>
            <h2 class="content-subhead">How to use this layout</h2>
            <p>
                To use this layout...uses vanilla JavaScript to simply toggle an <code>active</code> class that makes the menu responsive.
            </p>

        </div>
    </div>
  </main>
</div>
<script src = 'scripts/multi-select.js'></script>
<script src = 'scripts/pure-ui.js'></script>
<script src = 'scripts/ico-moon.js'></script>
<script src = 'bundle.js'></script>
</body>
</html>
