<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="styles/main.css" />
    <title>Seattle Crime Map</title>
  </head>

  <body data-ng-app="CrimeMapApp">
    <main data-ng-controller="MapController" class="full-height">
      <div id="layout" class="pure-g">
        <div class="sidebar pure-u-1 pure-u-md-1-4">
          <div class="header">
              <h1 class="brand-title">Seattle Crime Map</h1>
              <h2 class="brand-tagline">social media search tool</h2>

              <nav class="nav">
                  <ul class="nav-list">
                      <li class="nav-item">
                        <a href="" class="pure-button">how to</a>
                      </li>
                      <li class="nav-item">
                        <a href="" class="pure-button">about</a>
                      </li>
                      <li class="nav-item">
                        <a href="" class="pure-button">account</a>
                      </li>
                      <h2 class="brand-tagline">change map theme</h2>
                      <li class="nav-item">
                        <a data-ng-click="changeTiles('openstreetmap')" class="pure-button">OpenStreetMaps</a>
                      </li>
                      <li class="nav-item">
                        <a data-ng-click="changeTiles('mapbox_dark')" class="pure-button">MapBox Dark</a>
                      </li>
                      <li class="nav-item">
                        <a data-ng-click="changeTiles('mapbox_light')" class="pure-button">MapBox Light</a></li>
                      </li>
                  </ul>
              </nav>
          </div>
        </div>

        <div class="content pure-u-1 pure-u-md-3-4">
          <div class="post-description">
            <div class="post-images pure-g">
              <div class="section group controls">
                <div class="col span_1_of_2">
                  <h2 class="control-label">search controls</h2>
                  <div class="control-group">
                    <div class="control-tag inline">select crimetypes</div>
                    <div
                      isteven-multi-select
                      input-model="crimeTypes"
                      output-model="selectedTypes"
                      button-label="icon name"
                      item-label="icon name maker"
                      tick-property="ticked"
                      class='inline'>
                    </div>
                  </div>
                  <div class="control-group">
                    <div class="control-tag inline">select start date</div>
                    <md-datepicker ng-model="startDate" ng-change='renderEnd()' md-placeholder="Enter start date"></md-datepicker>
                  </div>
                  <div class="control-group">
                    <div class="control-tag inline">select end date</div>
                    <md-datepicker ng-model="endDate" md-placeholder="Enter end date" md-min-date="minDate" md-max-date="maxDate" ></md-datepicker>
                  </div>
                  <div class="control-group">
                    <button type='button' ng-click='mapSelected()' class="pure-button inline">Map  Crimes</button>
                    <button type="button" data-ng-click="clearMap()" class="pure-button inline">Clear</button>
                  </div>
                  <div class="warning" ng-if="notFounds.length!=0">
                    <div ng-repeat='notFound in notFounds'>results not found for {{notFound}}</div>
                  </div>

                  <h2 class="control-label">nearby tweets</h2>
                  <section id="tweetbox">
                      <div ng-repeat="tweet in tweets.statuses">
                      {{tweet.text}}
                      <a href ="http://twitter.com/statuses/{{tweet.id_str}}">Click</a>
                      <hr>
                    </div>
                  </section>

                </div>
                <div class="col span_2_of_2">
                  <leaflet geojson="crimes" lf-center="seattle" tiles="tiles" defaults="defaults" height="650px" width="800px" class='pure-img-responsive'></leaflet>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <script src = 'scripts/multi-select.js'></script>
    <script src = 'scripts/ico-moon.js'></script>
    <script src = 'bundle.js'></script>
  </body>
</html>
