            <section>
              <h2>Step 1:</h2>
              <p>Select one or more crime types using the multiselect dropdown.</p>

              <h2>Step 2:</h2>
              <p>Select a date range using the calendar tool.</p>

              <h2>Step 3:</h2>
              <p>Click the "Map Selected Crimes" button.</p>

              <h2>Step 4:</h2>
              <p>Click a popup on the map to get more info about that crime.  Then,
              click the "Nearby tweets" button to see tweets that are geotagged with
              a location near to the crime location.</p>
            <section>
