
<h1><a id="user-content-seattle-crime-map" class="anchor" href="#seattle-crime-map" aria-hidden="true"><span class="octicon octicon-link"></span></a>Seattle Crime Map</h1>

<p>Seattle Crime Map is an open-source web application that allows you to see when
and where crimes have occurred. One of the main features is the ability to view tweets that occurred around the time of the crime, and within a 0.5 kilometer radius.</p>

<p>To view the app, please follow this <a href="https://stark-ocean-9319.herokuapp.com/">link</a>.</p>

<p>For more information about this app, go to the <a href="/haverchuck/crime_map/blob/master">About</a> page.
For instructions on how to use this app, go to the <a href="/haverchuck/crime_map/blob/master">How To</a> page.</p>

<h3><a id="user-content-core-contributors" class="anchor" href="#core-contributors" aria-hidden="true"><span class="octicon octicon-link"></span></a>Core Contributors</h3>

<p>Feel free to reach out to any of the core contributors with your questions or
concerns. We will do our best to respond in a timely manner.</p>

<!-- <p><a href="https://github.com/jhnmllr"><img src="https://camo.githubusercontent.com/551061f0ce0822de98488e6fe3c498c32d414cbe/687474703a2f2f76696a617972632e636f6d2f766563746f72636c6f636b732f7374617469632f696d616765732f69636f6e2d6769746875622e706e67" alt="Tucker Miller" data-canonical-src="http://vijayrc.com/vectorclocks/static/images/icon-github.png" style="max-width:100%;"></a>
<a href="https://github.com/haverchuck"><img src="https://camo.githubusercontent.com/551061f0ce0822de98488e6fe3c498c32d414cbe/687474703a2f2f76696a617972632e636f6d2f766563746f72636c6f636b732f7374617469632f696d616765732f69636f6e2d6769746875622e706e67" alt="Dustin Noyes" data-canonical-src="http://vijayrc.com/vectorclocks/static/images/icon-github.png" style="max-width:100%;"></a>
<a href="https://github.com/davidatthepark"><img src="https://avatars1.githubusercontent.com/u/12901487?v=3&amp;s=50" alt="David Park" style="max-width:100%;"></a>
<a href="https://github.com/mringel"><img src="https://avatars0.githubusercontent.com/u/12709812?v=3&amp;s=50" alt="Matthew Ringel" style="max-width:100%;"></a></p> -->

<h1><a id="user-content-license" class="anchor" href="#license" aria-hidden="true"><span class="octicon octicon-link"></span></a>License</h1>

<p>The MIT License (MIT)</p>

<p>Copyright (c) 2015 Dustin Noyes</p>

<p>Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:</p>

<p>The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.</p>

<p>THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.</p>
