<section class="about">
<h1><a id="user-content-crimemapper" class="anchor" href="#crimemapper" aria-hidden="true"><span class="octicon octicon-link"></span></a>CrimeMapper</h1>

<h3><a id="user-content-about" class="anchor" href="#about" aria-hidden="true"><span class="octicon octicon-link"></span></a>About</h3>

<p>CrimeMapper is an open-source web application that allows you to see when and where crimes have occurred. How do we do this? Simple. The data comes directly from the Seattle Police Department's database. Our app simply offers a way to visually take note of the crimes that occur on a daily basis, not so different from how you would search for restaurants on Google Maps.</p>

<p>To view our deployed app, please follow this <a href="https://stark-ocean-9319.herokuapp.com/">link</a>.</p>

<h3><a id="user-content-core-contributors" class="anchor" href="#core-contributors" aria-hidden="true"><span class="octicon octicon-link"></span></a>Core Contributors</h3>

<p>Feel free to reach out to any of the core contributors with your questions or
concerns. We will do our best to respond in a timely manner.</p>

<table><thead>
<tr>
<th>Tucker Miller</th>
<th>Dustin Noyes</th>
<th>David Park</th>
<th>Matthew Ringel</th>
</tr>
</thead>
<tbody class="contributors">
<tr>
<td><a href="https://github.com/jhnmllr"><img src="https://camo.githubusercontent.com/551061f0ce0822de98488e6fe3c498c32d414cbe/687474703a2f2f76696a617972632e636f6d2f766563746f72636c6f636b732f7374617469632f696d616765732f69636f6e2d6769746875622e706e67" alt="Tucker Miller" data-canonical-src="http://vijayrc.com/vectorclocks/static/images/icon-github.png" style="max-width:100%;"></a></td>
<td><a href="https://github.com/haverchuck"><img src="https://avatars1.githubusercontent.com/u/10621276?v=3&amp;s=50" alt="Dustin Noyes" style="max-width:100%;"></a></td>
<td><a href="https://github.com/davidatthepark"><img src="https://avatars1.githubusercontent.com/u/12901487?v=3&amp;s=50" alt="David Park" style="max-width:100%;"></a></td>
<td><a href="https://github.com/mringel"><img src="https://avatars0.githubusercontent.com/u/12709812?v=3&amp;s=50" alt="Matthew Ringel" style="max-width:100%;"></a></td>
</tr>
</tbody></table>

<h3><a id="user-content-license" class="anchor" href="#license" aria-hidden="true"><span class="octicon octicon-link"></span></a>License</h3>

<p>The MIT License (MIT)</p>

<p>Copyright (c) 2015 Dustin Noyes, John Miller, David Park, Matthew Ringel</p>

<p>Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:</p>

<p>The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.</p>

<p>THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.</p>

</section>
