            <section class="how-to">
              <h2>Step 1:</h2>
              <p>Select one or more crime types using the dropdown next to "Search Crime Types."</p>

              <h2>Step 2:</h2>
              <p>Select a start date and end date using the calendar tool.</p>

              <h2>Step 3:</h2>
              <p>Click the "Map Crimes" button.</p>

              <h2>Step 4:</h2>
              <p>Click a popup on the map to get more info about that crime. Then, click the "Nearby Tweets" button to see tweets that are geotagged with a location near to the crime location.</p>
            <section>
